@media (max-width: 768px) {
  .grid {
    grid-template-columns: 1fr;
  }

  .grid-sobre {
    grid-template-columns: 1fr;
  }

  section {
    margin: 10px;
  }

  table {
    font-size: 14px;
  }

  .form-grid {
    grid-template-columns: 1fr;
  }
}
